#pencil
{
  color: blue;
}
#trash
{
  color: red;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
.main
{
  padding: 10px;
}
body{
  font-family: 'Satisfy', cursive;
  font-weight: bold;

}

